body{
    overflow-x: none;
background-color:  rgb(217, 219, 221);
}

#q{
    margin-left: 40px;
    font-family: sans-serif;
    position: fixed;
}
#d{

    margin-left: -10px;
    width: 110%;
    margin-top: -5px;
}

#q1{
    font-family: sans-serif;
    margin-top: -16px;
    margin-left: 25px;
    font-size: small;
    font-weight: bold;
    min-width: 100%;
    max-width: 100%;
}

#w{
    background-color: rgba(15, 68, 225, 0.935);
    height: 80px;
    width: 95%;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
   
   position: fixed;
   margin-left: 10px;
}




#w1{
    margin-left: 25px;
    font-family: sans-serif;
    padding-top: 7px;
    font-size: smaller;
    margin-top: -22px;
}

#w2{
    font-weight:bold ;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 5px;
}

#w3{
    float: right;
    margin-top: -45px;
    margin-right: 55px;
    font-size: smaller;
    font-family: sans-serif;

}

#w4{
    background-color: aliceblue;
    width: 130px;
    height: 25px;
    color: rgba(15, 68, 225, 0.935);
    float: right;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: -20px;
    padding-top: 7px;
    font-size: smaller;
    font-family: sans-serif;
}


ul{
    list-style-type: none;
    background-color: whitesmoke;
    margin-top: 100px;
    padding-top: 5%;
}

li,a{
    margin-left: 20px;
    margin-top: -10px;
    font-family: sans-serif;
  
}
a{
    font-size:x-small;
}

#gin{
    margin-top: -430px;
    margin-left: 20px;
}

#gin2{
    margin-left: 21px;
    margin-top: 27px;
}
#gin6{
    margin-top: 35px;
    margin-left: 20px;
}

#gin5{
    margin-top: 55px;
    margin-left: 20px;
}

#gin3{

    margin-top: 25px;
    margin-left: 20px;
}

#gin4{
    margin-top: 25px;
    margin-left: 20px;
}

#gin7{
    margin-top: 25px;
    margin-left: 20px;
}
#gin8{
    margin-top: 27px;
    margin-left: 20px;
    color: brown;
}



#gan{
    transform: rotatey(180deg);
    float: right;
    margin-top: -45px;
    margin-right: 40px;
}




#gear{
margin-top: 5px;
color: black;
margin-left: 5px;
}

#pen{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -375px;
    margin-right: 50px;

}


#pen1{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -330px;
    margin-right: 50px;

}

#pen2{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -285px;
    margin-right: 50px;

}


#pen3{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -235px;
    margin-right: 50px;

}


#pen4{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -375px;
    margin-right: 50px;

}

#pen5{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -165px;
    margin-right: 50px;

}


#pen6{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -105px;
    margin-right: 50px;

}


#pen7{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -60px;
    margin-right: 50px;
}



#pen8{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -10px;
    margin-right: 50px;
    color: red;
}

#dot{
    color: red;
}

#sin{
    background-color: white;
    margin-top: 30px;
    padding: 5%;
}

#sin1{
    margin-left: 35px;
    font-family: sans-serif;
}



#pen9{
    
    transform: rotatey(180deg);
    float: right;
    margin-top: -15px;
    margin-right: 30px;
    
}


#b{
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    width: 100%;
    color:  rgb(4, 4, 79);
    height: 50px;
    padding-top: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);   
    background-color: white;
    display: flex;
    gap: 70px;
}

#a1,#a2,#a3,#a4{
    margin-left: 10px;
    margin-top: 15px;
}



#c1{
    margin-left: -100px;
}

#c2{
    margin-left: -120px;
}

#c3{
    margin-left: -100px;
}

#c4{
    margin-left: -100px;
}


#van{
    font-size:medium;
    text-decoration-line: none;
}