#g{
    color: rgba(15, 68, 225, 0.935);
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;

}

button{
   background-color:rgba(15, 68, 225, 0.935);
   color: aliceblue;
   height: 25px;
   border-radius: 5px;
   border: none;
   font-family: sans-serif;
}


#gin{
    transform: rotatey(180deg);
    float: right;
    margin-top: -45px;
    margin-right: 40px;
}


#gear{
    margin-top: 5px;
    color: black;
    margin-left: 5px;
}


    
#a1,#a2,#a3,#a4{
    margin-left: 20px;
    margin-top: 15px;
}



#c1{
    margin-left: -100px;
}

#c2{
    margin-left: -120px;
}

#c3{
    margin-left: -100px;
}

#c4{
    margin-left: -100px;
}


#a{
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    width: 100%;
    color:  rgb(4, 4, 79);
    height: 50px;
    padding-top: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);   
    background-color: white;
    display: flex;
    gap: 70px;
}