body{
    background-color: rgb(217, 219, 221);
    overflow-x: hidden;
}

#q{
    margin-left: 20px;
    font-family: sans-serif;
    position: fixed;
}
#d{
    background-color: aliceblue;
    margin-left: -10px;
    width: 110%;
    margin-top: -5px;
}

#q1{
    font-family: sans-serif;
    margin-top: -16px;
    margin-left: 25px;
    font-size: small;
    font-weight: bold;
    min-width: 100%;
    max-width: 100%;
}

#w{
    background-color: rgba(15, 68, 225, 0.935);
    height: 80px;
    width: 95%;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
   
   position: fixed;
   margin-left: 10px;
}

#s{
    min-width: 100%;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;

}

#w1{
    font-family: sans-serif;
    font-size: smaller;
    margin: -15px;
    padding-left: 9%;
    padding-bottom: 4%;
}

#w2{
    font-weight:bold ;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 5px;
}

#w3{
    float: right;
    margin-top: -45px;
    margin-right: 55px;
    font-size: smaller;
    font-family: sans-serif;

}

#w4{
    background-color: aliceblue;
    width: 130px;
    height: 25px;
    color: rgba(15, 68, 225, 0.935);
    float: right;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: -20px;
    padding-top: 7px;
    font-size: smaller;
    font-family: sans-serif;
}

#f{
    margin-top: 150px;
}

#f1{
    margin-left: 20px;
    margin-top: -20px;
    padding-bottom: 2%;
}

#e{
    background-color: aliceblue;
    width: 120%;

    display: flex;
    gap: 35px;
     margin-left: -10px;
     margin-top: 10px;
     padding-bottom: 3%;
}

#e1,#e2,#e3{
    margin-left: 80px;
    margin-top: 60px;
    font-size: small;
    font-family: sans-serif;
}

#r{
    background-color: aliceblue;
    width: 110%;
    margin-left: -10px;
    height: 23%;
    margin-top: 20px;
}

#r1{
    display: flex;
    gap: 60px;
    margin-left: 80px;
}

#r2,#r3,#r4,#r5{
    margin-top: 60px;
    font-family: sans-serif;
    font-size: small;
    padding-top: 2%;
}

#t{
    display: flex;
    gap: 50px;
    font-family: sans-serif;
    font-size: small;
    margin-left: 80px;
    margin-top: 50px;
    padding-bottom: 3%;
    padding-top: 7%;
}

#y{
    background-color:aliceblue;
    margin-top: 10px;
    height: 10%;
    flex-wrap: wrap;
    width: 110%;
    margin-left: -40px;

}

#y1{
    margin-left: 100px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: small;
    
}




#u{
    background-color:aliceblue;
    margin-top: 10px;
    height: 10%;
    flex-wrap: wrap;
    margin-left: -10px;
    width: 105%;
    padding-bottom: 3%;

}

#u1{
    margin-left: 20px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: small;
    
}

#i{
    background-color:  rgba(15, 68, 225, 0.935);
    float: right;
    color: aliceblue;
    border-radius: 40px;
    padding: 3%;
    margin-top: -50px;
    margin-right: 30px;
}

#o{
    background-color:  rgba(15, 68, 225, 0.935);
    float: right;
    color: aliceblue;
    border-radius: 50px;
    padding: 3%;
    margin-top: -40px;
    margin-right: 20px;
}

#p{
    display: flex;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: -10px;
}

#p1,#p2,#p3,#p4{
    
    display: flex;
    font-family: sans-serif;
    font-size: small;
    margin-left: 40px;
 
    margin-top: 60px;
    padding-bottom: 2%;
}


#a{
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    width: 100%;
    color:  rgb(4, 4, 79);
    height: 50px;
    padding-top: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);   
    background-color: white;
    display: flex;
    gap: 65px;
}

#a1,#a2,#a3,#a4{
    margin-left: 20px;
    margin-top: 15px;
}

#gin{
    transform: rotatey(180deg);
    float: right;
    margin-top: -45px;
    margin-right: 40px;
}

#c1{
    margin-left: -100px;
}

#c2{
    margin-left: -120px;
}

#c3{
    margin-left: -100px;
}

#c4{
    margin-left: -100px;
}

#v1{
    margin-top: 10px;
    margin-left: -75px;
}

#v2{
    margin-left: -65px;
    margin-top:10px ;
}

#v3{
    margin-left: -70px ;
    margin-top: 10px;
}
#m1{
    margin-left: -105px;
    margin-top: 25px;
}

#m2{
    margin-top: 25px;
    margin-left: -95px;
}

#m3{
    margin-top: 25px;
    margin-left: -105px;
}

#m4{
    margin-top: 25px;
    margin-left: -95px;
}

#n1{
    margin-top: -40px;
    margin-left: -90px;
    padding-top: 5%;
}
#n2{
    margin-top: -40px;
    margin-left: -95px;
    padding-top: 5%;
}

#n3{
    margin-top: -40px;
    margin-left: -110px;
    padding-top: 5%;
}

#n4{
    margin-top: -40px;
    padding-top: 5%;
    margin-left: -83px;
}

#n1,#n2,#n3,#n4{
  
}

#t4{
    margin-left: 17px;
}
#g1{
    margin-top: 15px;
    margin-left: -30px;
}

#g2{
    margin-top: 15px;
    margin-left: -25px;
}

#g3{
    margin-top: 15px;
    margin-left: -25px;
}

#g4{
    margin-top: 15px;
    margin-left: -30px;
}

#gear{
    margin-top: 5px;
}

#v1,#v2,#v3,#v4{
    background-color:rgb(163, 197, 244);
    color: rgb(52, 63, 207);
    width: 5%;
    height: 25px;
    padding: 1%;
    border-radius: 5px;
}

#m1,#m2,#m3,#m4{
    background-color: rgb(163, 197, 244);
    color: rgb(52, 63, 207);
    width: 5%;
    height: 25px;
    padding: 1%;
    border-radius: 5px;
}

#n1,#n2,#n3,#n4{
    background-color: rgb(163, 197, 244);
    color: rgb(52, 63, 207);
    width: 5%;
    height: 25px;
    padding: 1%;
    border-radius: 5px;
}

#g1,#g2,#g3,#g4{
    background-color: rgb(163, 197, 244);
    color: rgb(52, 63, 207);
    width: 5%;
    height: 25px;
    padding: 1%;
    border-radius: 5px;
    

}

#g4{
    margin-left: -40px;
}

#g3{
    margin-left: -35px;
}

#c1,#c2,#c3,#c4{
    color: black;
    padding: 1%;
    border-radius: 5px;
margin-top: -10px;

}

#p1{
    margin-left: 105px;
}

#colo{
    color: rgb(136, 136, 22);
    background-color: aliceblue;
    width: 10%;
    height: 30%;
    margin-left: 40px;
    margin-top: -150px;
    padding-bottom: 2.5%;
}

[href]{
    text-decoration-line: none;
    color: black;
}