body{
    overflow-x: hidden;
}

#q{
    margin-left: 40px;
    font-family: sans-serif;
    position: fixed;
}
#d{
    background-color: aliceblue;
    margin-left: -10px;
    width: 110%;
    margin-top: -5px;
}

#q1{
    font-family: sans-serif;
    margin-top: -16px;
    margin-left: 25px;
    font-size: small;
    font-weight: bold;
    min-width: 100%;
    max-width: 100%;
}

#w{
    background-color: rgba(15, 68, 225, 0.935);
    height: 80px;
    width: 95%;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
   
   position: fixed;
   margin-left: 10px;
}




#w1{
    margin-left: 25px;
    font-family: sans-serif;
    padding-top: 7px;
    font-size: smaller;
    margin-top: -22px;
}

#w2{
    font-weight:bold ;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 5px;
}

#w3{
    float: right;
    margin-top: -45px;
    margin-right: 55px;
    font-size: smaller;
    font-family: sans-serif;

}

#w4{
    background-color: aliceblue;
    width: 130px;
    height: 25px;
    color: rgba(15, 68, 225, 0.935);
    float: right;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: -20px;
    padding-top: 7px;
    font-size: smaller;
    font-family: sans-serif;
}

#zin{
    margin-top: 150px;
    margin-left: 20px;
    font-size: small;
    font-family: sans-serif;
    color: rgba(15, 68, 225, 0.935);
    font-weight: bold;
}

#zin1{
    font-size: large;font-weight: bold;
}

input{
 width: 70%;
 height: 20px;
}
button{
    background-color: rgba(15, 68, 225, 0.935);
    color: aliceblue;
    padding: 1%;
    border-radius: 5px;
    border: none;
}

#a{
 
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    width: 100%;
    color:  rgb(4, 4, 79);
    height: 50px;
    padding-top: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);   
    background-color: white;
    display: flex;
    gap: 50px;
    margin-top: 50%;
    font-family: sans-serif;
    }
    
    
    #a1,#a2,#a3,#a4{
        margin-left: 30px;
        margin-top: 15px;
    }
    

    
#gin{
    transform: rotatey(180deg);
    float: right;
    margin-top: -45px;
    margin-right: 40px;
}




#gear{
    margin-top: 5px;
    color: black;
    margin-left: 5px;
}


    
#a1,#a2,#a3,#a4{
    margin-left: 20px;
    margin-top: 15px;
}



#c1{
    margin-left: -100px;
}

#c2{
    margin-left: -120px;
}

#c3{
    margin-left: -100px;
}

#c4{
    margin-left: -100px;
}


#a{
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    width: 100%;
    color:  rgb(4, 4, 79);
    height: 50px;
    padding-top: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);   
    background-color: white;
    display: flex;
    gap: 70px;
}



#fine{

  
    margin-left: 330px;
    
    color: rgb(52, 63, 207);
    width: 5%;
    height: 25px;
    padding: 1%;
    margin-top: -95px;
  
    padding-bottom: 20%;
  
  }
  [href]{
    text-decoration-line: none;
    color: black;
  }